# Either "development" or "production"
NODE_ENV=development

# A cryptographic key used to secure user sessions.
# Can be any string of random data
CIPHER_KEY=somerandomstring

# It can be "info", "debug" or "trace"
LOG_LEVEL=info