# Environment for the application. Either "development" or "production".
NODE_ENV=development
# Environment location. Either "us" or "uk".
ENV_LOCATION=us

# A cryptographic key used to secure user sessions.
# Can be any string of random data.
CIPHER_KEY=somerandomcipgerkeyIguesz

##########################
#    DB Configuration    #
##########################

DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432
DB_NAME=financeapp

##########################
# Testing Configuration  #
##########################

TEST_USER=useremail
TEST_PASSWORD=userpassword

##########################
#   OIDC Configuration   #
##########################

# Issuer URL
# Uncomment one of the following depending on desired environment.
# Production:
# ISSUER_BASE_URL=
# Staging:
# ISSUER_BASE_URL=

# OIDC Client ID
CLIENT_ID=

# Base URL of this application
# This must match one of the redirect URIs on the OIDC application page.
# If you want to test on your local machine, you must add a proper redirect URI to the OIDC application using your workstation name
BASE_URL=

# Client Secret
# This must be the same secret in the OIDC application page.
CLIENT_SECRET=
